<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mitranetpars.sportmagazine">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".SportMagazineApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo60"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:configChanges="layoutDirection|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".SigninActivity"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".ProducerPackageSelectionActivity"
            android:label="@string/title_activity_select_consumer_package"
            android:theme="@style/AppTheme"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".ProducerSigninActivity"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme"
            android:configChanges="layoutDirection|locale"/>
        <activity android:name=".ProducerProductActivity"
            android:label="@string/title_actitvity_producer_product"
            android:theme="@style/AppTheme"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".ProducerMainActivity"
            android:label="@string/title_activity_producer_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="layoutDirection|locale"/>
        <activity
            android:name=".ConsumerMainActivity"
            android:label="@string/title_activity_consumer_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="layoutDirection|locale"/>
    </application>

</manifest>